.about-top{
    background:linear-gradient(#B85DD1, #7040C8);
    text-align: center;
    padding: 70px 0;
    justify-items: center;
    height: auto;
    color: white;
}

.about-top-paragraph {
    padding: 0px 50px 0px 50px;
    text-align: justify;
}

.about-content {
    margin: 50px 50px 30px 50px;
    /* height: 50vh; */
    background-color: #a84bc2;
    color: white;
}

.about-content > h4 {
    text-align: center;
    padding-top: 10px ;
}
.about-content > p {
    text-align: justify;
    padding: 0 20px 10px 20px;
}
.about-content > ul {
    text-align: justify;
    padding: 0px 20px 20px 30px;
}



.why-choose-us {
    margin: 40px 10rem 40px 10rem;
    background:linear-gradient(#B85DD1, #7040C8);
    color: white;
}
.why-choose-us > p {
    text-align: justify;
    padding: 0px 40px 20px 40px;
}

.why-choose-us > h3 {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.our-team {
    margin: 0rem 7rem 40px 7rem;
}

.our-team > h3 {
    text-align: center;
    padding-bottom: 30px;
}
.card{
    width:300px;
    height: 400px;
    margin: 10px;
    align-items: center;
    display: flex;
}

.our-team-card {
    display: flex;
    justify-content: center;
}

.our-team-card1{
    display: flex;
    justify-content: center;
}

.about-image {
    width:250px;
    height:290px;
    padding: 20px;
}
@media (max-width: 1180px)  {
    .about-image {
        width:240px;
        height:260px;
        padding: 20px;
    }
    .card{
        width:320px;
        height: 350px;
        margin: 10px;
    }
}
@media (max-width: 874px)  {
    .about-image {
        width:210px;
        height:255px;
    }
}
    @media (max-width: 690px)  {
        .about-image {
            width:150px;
            height:190px;
        }
        .card{
            width:320px;
            height: 400px;
            margin: 10px;
        }
    
}
@media (max-width: 540px)  {
    .why-choose-us {
        margin: 20px 10px 20px 10px;
    }

    .why-choose-us > h3 {
        text-align: center;
        padding-bottom: 5px;
    }

    .our-team {
        margin-left: 2rem;
    }

    .our-team-card {
        display: inline-block;
        justify-items: center;
    }
    
    .our-team-card1, .our-team-card2{
        display: inline-block;
    }
    .about-image {
        width:250px;
        height:290px;
        padding: 20px;
    }
}
@media (max-width: 1024px) {
    .our-team {
        margin: 0rem 4rem 40px 4rem;
    }   
}

@media (max-width: 464px) {
    .our-team {
        margin-left: 1.5rem;
    }
}




