.gallery-top {
    background:linear-gradient(#B85DD1, #7040C8);
    text-align: center;
    padding: 70px 0;
    justify-items: center;
    height: 40vh;
    color: white;
}

.card-style {
    height: 300px;
}

.gallery-showcase {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

@media (max-width: 540px){
    .gallery-showcase {
        display: block;
        width: 68%;
        margin: 0 auto;
    } 

    .gallery-image {
        height: 300px;
        width: 300px;
    } 
}
@media (max-width: 450px){
    .gallery-showcase {
        
        width: 75%;
        margin: 0 auto;
    }
}