.color-nav {
    background-color: #B85DD1;  
    padding: 10px;
    padding-right: 10px;
    z-index: 1;
} 

.right-corner > p {
    color: white;
}
.left-corner {
    margin-left: 2rem;  
}

.ml-auto{
    padding-right: 25px;
    z-index: 100;
}

.wave2 {
    position: absolute;
    top:0;
    left: 0;
}

.logo {
    height: 100px;
    width: 200px;
    opacity: 0.85;
}

@media (max-width: 700px){
    .logo {
        height: 50px;
        width: 80px;
    }
}

#basic-navbar-nav {
    color: white;
    z-index: 100;;
}
.toggle {
    color: white;
    z-index: 100;
}

