
.color-nav {
    background-color: #B85DD1;
} 


.nav-container{
    padding-top: 0px;
    padding-bottom: 10px;
    z-index: 100;
    margin: 0;
}

.wave2 {
    position: absolute;
    top:0;
    left: 0;
}

.logo {
    height: 100px;
    width: 200px;
    opacity: 0.85;
}

@media (max-width: 700px){
    .logo {
        height: 50px;
        width: 80px;
    }
}


.nav-services{
    margin-right: -9rem;
}

@media(max-width:1300px) {
    .nav-services{
        margin-right: -5rem;
    }
}
@media(max-width:1214px) {
    .nav-services{
        margin-right: -2rem;
    }
}
@media(max-width:1210px) {
    .nav-services{
        margin-right: -4rem;
    }
}

@media(max-width:1123px) {
    .nav-services{
        margin-right: -5rem;
    }
}
@media(max-width:1194px) {
    .nav-services{
        margin-right: -10rem;
    }
}
@media(max-width:1110px) {
    .nav-services{
        margin-right: -5rem;
    }
}
@media(max-width:1160px) {
    .nav-services{
        margin-right: -3rem;
    }
}
@media(max-width:996px) {
    .nav-services{
        margin-right: -1rem;
    }
}
@media(max-width:992px) {
    .nav-services{
        margin-right: -10rem;
    }
}



