.partner > h1 {
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    color: #B85DD1;
}
.partner > h1:before,.partner > h1:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: rgb(151, 52, 160);
}
.partner > h1:before {
    margin-left: -50%;
    text-align: right;
}

.partner {
    background-color: rgb(233, 231, 229);
    padding: 10px 20px 10px 20px;
    margin-bottom:20px;
}

.our-partner, .our-partner1 {
    display: flex;
    padding: 30px 0px 20px 0px ;
    justify-content: center;
    margin: 0 auto;
}

.partner-logo {
    display:flex;
    justify-content: center;
    margin-left: 20px;
    height: 150px;
    width: 200px;
    background-color: rgb(231, 226, 226);
}

.partner-logo > img {
    
    height: 140px;
    width: 150px;
    padding-top: 20px;
}
@media (max-width: 698px) {
.our-partner, .our-partner1 {
    display: block;
    margin: 0 auto;
    width: 40%;
}
}
@media (max-width: 580px) {
    .our-partner, .our-partner1 {
        margin: 0 auto;
        width: 50%;
    }
    }
    @media (max-width: 500px) {
        .our-partner, .our-partner1 {
            margin: 0 auto;
            width: 60%;
        }
        }