#testimonials
{
	margin:30px 0;
    background-color: #FBF3F3;
}
.testimonials
{
	border-left: 4px solid #dd2476;
	margin:50px 0;
}
.testimonials img
{
	border-radius: 50%;
	height: 70px;
	width: 70px;
	margin:0 10px;
}
.user-details
{
	display: inline-block;
	font-size: 14px;
}
.title {
    padding-top: 10px;
    color:#b943c4;
}